localhost

browse

tls certs/server.crt certs/server.key {
  clients request certs/clientCA.crt
}

permission realm "Protected Website"
permission allow_reading_parent_paths
permission set_basicauth user pass
permission set_cookie token secret

permission tls

permission api {
  name MyWebsite
  user http://localhost:8080/caddyapi
  permit http://localhost:8080/caddyapi/{{username}}
  login http://localhost:8080/login?next={{resource}}
  add_prefix /api/resource /files
  add_without_prefix
  cache 600
  cleanup 3600
}

permission basic {
  user greg
  rw /tmp/

  user george password
  rw /admin/

  default
  rw /shared/

  public
  ro /static
}
